extends default

block content
  .btn-group
    a(href="/customers/add", class='btn btn-success btn-sm')
      i.glyphicon.glyphicon-plus
      span  Add customer
    a(href="/customers/fetch", class='btn btn-success btn-sm')
      span  Find customer
    a(href="/customers/list", class='btn btn-success btn-sm')
      span  List all customers

